/**
 * Styles for the Carousel (image gallery, image slider)
 * on each game pop-up.
 *
 * These styles were taken directly from the
 * Bootstrap Carousel Example:
 * http://getbootstrap.com/examples/carousel/
 */

/* Carousel base class */
.carousel {
	margin-bottom: 15px;
}

/* positioning the left and right arrows
 * (they were originally set with glyphicons but I'm using
 *  font-awesome, so I have to do by hand)
 */
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	font-size: 30px;

	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .fa-chevron-circle-left {
	margin-left: -15px;
	left: 50%;
}
.carousel-control .fa-chevron-circle-left {
	margin-right: -15px;
	right: 50%;
}

