---
layout: default
title: Games -  Anthon Fredriksson
active: games
---

<h1>Games</h1>
<hr />
<p>
	Short descriptive introduction about my games
</p>

<div class="masthead">
    <ul class="nav nav-justified" data-filter-group="language">
        <li class="active">
			<a href="#" data-filter="*">
				Any
			</a>
		</li>

		{% for language in site.data.languages %}
        <li>
			<a href="#" data-filter=".{{ language | downcase | replace:'+','p' }}">
				{{ language }}
			</a>
		</li>
		{% endfor %}
    </ul>
</div>

<div class="games">

	<!-- These are the game thumbnails. When clicked, they reveal the game Modals. -->
	{% for game in site.data.games %}
	<div class="game {{ game.language | downcase | replace:'+','p' }}" data-popularity="{{ game.popularity }}">

		<div class="game-image">
			<!-- This makes the game modal appear -->
			<a href="#modal-{{ game.title }}" role="button" data-toggle="modal">
				{% if game.pictures %}
				<img class="img-rounded" src="{{ game.pictures.first.url }}" />
				{% endif %}
			</a>
		</div>

		<div class="game-title">
			<!-- Also make the game modal appear -->
			<a href="#modal-{{ game.title }}" role="button" data-toggle="modal">
				{{ game.title }}
			</a>
		</div>

		<div class="game-tagline">
			{{ game.tagline }}
		</div>

	</div>
	{% endfor %}
</div>

<div class="games-modals">
	<!-- These are the game Modals. They are revealed when clicking the game thumbnails. -->
	{% for game in site.data.games %}
	<div class="modal fade" id="modal-{{ game.title }}">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Close button and title -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>

					<h4 class="modal-title">{{ game.title }}</h4>
				</div>

				<div class="modal-body">
					{% if game.pictures %}
					<!-- Carousel - a big banner with all game images. It also works for a single image too -->
					<div id="carousel-{{ game.title }}" class="carousel slide" data-ride="carousel">

						<!-- Indicators (little balls on slider) -->
						<ol class="carousel-indicators">
							{% for picture in game.pictures %}
							<li data-target="#carousel-{{ game.title }}"
								data-slide-to="{{ forloop.index0 }}"
								{% if forloop.first %} class="active" {% endif %}>
							</li>
							{% endfor %}
						</ol>

						<!-- The actual images -->
						<div class="carousel-inner">
							{% for picture in game.pictures %}
							<div class="item {% if forloop.first %}active{% endif %}">
								<img src="{{ picture.url }}" title="{{ picture.title }}" alt="{{ picture.alt }}" />
							</div>
							{% endfor %}
						</div>

						{% if game.pictures.size > 1 %}
						<!-- The left and right arrows -->
						<a class="left carousel-control" href="#carousel-{{ game.title }}" role="button" data-slide="prev">
							<i class="fa fa-chevron-circle-left"></i>
						</a>
						<a class="right carousel-control" href="#carousel-{{ game.title }}" role="button" data-slide="next">
							<i class="fa fa-chevron-circle-right"></i>
						</a>
						{% endif %}
					</div>
					{% endif %}

					<!-- Main game description, aww yeah -->
					<p>{{ game.description | markdownify }}</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

					{% if game.site %}
					<a  href="{{ game.site }}" class="btn btn-primary" target="_blank">
						Visit Website
					</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

